<!DOCTYPE html>
<html lang="es">
<script>
    function getCookie(name) {
        const cookies = document.cookie.split('; ');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].split('=');
            if (cookie[0] === name) {
                return cookie[1];
            }
        }
        return null;
    }
    let visi = getCookie('visi');
    if (visi > 10) {
        window.location.href = 'https://support.google.com/webmasters/answer/2445990?hl=es';
    }
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Furtive Apk</title>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #919191;
            color: #333;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
            background-color: #919191;
        }

        .copiar-boton {
            color: #007bff;
            border: none;
            padding: 3px 6px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        .copiar-boton:hover {
            background-color: #0056b3;
        }

        .download-link {
            display: block;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin-top: 3%;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
        }

        .download-link:hover {
            background-color: #0056b3;
        }

        p {
            text-indent: 15px;

        }

        .accordion {
            background-color: #f4f4f4;
            color: #333;
            cursor: pointer;
            padding: 9px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 18px;
            transition: 0.4s;
            position: relative;
        }

        .accordion:after {
            content: '\02795';
            /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: #777;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }

        .active:after {
            content: '\2796';
            /* Unicode character for "minus" sign (-) */
        }

        .panel {
            padding: 0 18px 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }



        .habilitar {
            margin-left: 4px;
            color: white;
            background: #007bff;
            border: none;
            padding: 3px 6px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        .bloqueado {
            background-color: #ccc;
            color: #888;
            pointer-events: none;
        }

        input {
            width: 80%;
        }

        .input-error {
            border: 2px solid red;
        }

        #enviarBtn {
            margin-left: 4px;
            color: white;
            background: #007bff;
            border: none;
            padding: 3px 6px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 17px;
            margin-top: 15px;
            margin-bottom: 15px;

        }

        #descargaa {
            margin-left: 4px;
            border-radius: 5px;
            font-size: 17px;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 2%;
            background: #d2d2d27a;
        }

        input[type="text"] {
            padding: 7px;
            margin-bottom: 6px;
            border-radius: 5px;
            border: 1px solid #828282;
            width: 60%;
            font-size: 16px;
            margin-top: 10px;
            background: #00ffff57;
        }



        input[type="text"]::placeholder {
            color: #333333;
        }

        #botonDni {
            padding: 7px 13px;
            border: 1px solid;
            border-radius: 5px;
            background-color: #FFF;
            color: black;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <header>
        <img src="portada.jpg" style="width:100%">
    </header>

    <div class="container">
        <img src="imgModo.jpg" style="width: 100%; border: 2px solid;">

        <button class="accordion" style="margin-top: 20px;background: #47ff477a;">Obtener una cuenta</button>
        <div class="panel">

            <p>Cuando descargues la aplicación no podrás utilizarla, para activarla debes enviarnos el comprobante de
                pago junto con el
                identificador de dispositivo que la app generará para tu teléfono.
            </p>
            <p>Una vez verificado el pago agregamos a nuestra base de datos el identificador de tu celular con lo cual
                ya puedes empezar a usarla.</p>
            <p>De esta manera logramos que la aplicación sea imposible de utilizar en otro dispositivo que no sea el
                tuyo.</p>

        </div>

        <button class="accordion" style="margin-top: 20px;background: #00ffff57;">Pago por transferencia $8.000
            ARS</button>
        <div class=" panel">
            <p style="text-indent: 0px;"><b>Obtención inmediata:</b></p>
            <p style="text-indent: 15px; font-size:12px; color:#ff3b3b;"><b>Por favor no intentes enviar
                    transferencias con montos
                    menores, si el importe no es correcto el sistema no liberará las credenciales de la
                    cuenta.</b></p>

            <hr>

            <p style="text-indent: 0px;"><b>Paso 1:</b> Realizar el pago.</p>
            <p style="text-indent: 0px;"><u>Titular:</u> <span>
                    <%= titular %>
                </span></p>
            <p style="text-indent: 0px;"><u>Alias:</u> <span id="alias">
                    <%= alias %>
                </span> <button class="copiar-boton" onclick="copiarTexto('alias')"><i
                        class="fas fa-copy icono-copiar"></i></button></p>
            <p style="text-indent: 0px;"><u>CBU:</u> <span id="cbu">
                    <%= cbu %>
                </span> <button class="copiar-boton" onclick="copiarTexto('cbu')"><i
                        class="fas fa-copy icono-copiar"></i></button>
            </p>
            <p style="text-indent: 0px;"><u>Importe:</u> $8.000 (pesos argentinos)</p>

            <hr>


            <p style="text-indent: 0px; margin-bottom: 0px;"><b>Paso 2:</b></p>
            <p style="text-indent: 0px;"> Envía el comprobante de pago y el identificador de dispositvo a
                <b>furtive.apk@gmail.com</b>
            </p>


        </div>

        <button class="accordion" style="margin-top: 20px;background: #fff4477a;">Pagar con criptomonedas 7
            USDT</button>
        <div class="panel">
            <p>Solicita una dirección a donde enviar los USDT. Una vez realizado el pago con criptomonedas, por favor
                envianos el comprobante de transferencia por
                correo electrónico a <b>furtive.apk@gmail.com</b>. Tan pronto como verifiquemos que se ha realizado el
                pago con éxito, activaremos tu cuenta
                para que puedas acceder. Este proceso es inmediato, en unos pocos minutos recibirás un email con tus
                credenciales.</p>
            <a
                href="mailto:furtive.apk@gmail.com?subject=Pago%20con%20criptomonedas&amp;body=Solicito%20dirección%20para%20pago%20con%20criptomoneda.">
                <button>Solicitar dirección</button>
            </a>
        </div>

        <div id="descargaa">

            <a href="https://www.mediafire.com/file/mbcvgqhirwr8i19/furtive-apk-MODO2105.apk/file"
                style="background-color: #008759;" class="download-link" id="btnDesc">Descargar furtive-apk-modo
                v1.0.2.apk</a>

            <br><span style="font-style: italic; font-size:12px"><b>Al realizar el pago recibirás un email
                    con:</b></span><br>
            <span style="font-style: italic; font-size:12px">· Un instructivo en pdf.</span><br>
            <span style="font-style: italic; font-size:12px">· Soporte y actualizaciones gratuitas.</span>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>

            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }




            function copiarTexto(idElemento) {
                var textoACopiar = document.getElementById(idElemento).innerText;
                var elementoTemporal = document.createElement("textarea");
                elementoTemporal.value = textoACopiar;
                document.body.appendChild(elementoTemporal);
                elementoTemporal.select();
                document.execCommand("copy");
                document.body.removeChild(elementoTemporal);
                mostrarMensaje("Copiado!");
            }

            function mostrarMensaje(mensaje) {
                var mensajeDiv = document.createElement("div");
                mensajeDiv.textContent = mensaje;
                mensajeDiv.style.backgroundColor = "#28a745";
                mensajeDiv.style.color = "#fff";
                mensajeDiv.style.padding = "10px 15px";
                mensajeDiv.style.borderRadius = "5px";
                mensajeDiv.style.position = "fixed";
                mensajeDiv.style.bottom = "20px";
                mensajeDiv.style.right = "20px";
                mensajeDiv.style.zIndex = "9999";
                document.body.appendChild(mensajeDiv);

                setTimeout(function () {
                    document.body.removeChild(mensajeDiv);
                }, 3000); // Ocultar el mensaje después de 3 segundos
            }

            function validarNumero() {
                var numeroCuenta = document.getElementById("numeroCuenta").value;
                var botonHabilitar = document.getElementById("botonHabilitar");
                if (numeroCuenta.length === 8) {
                    botonHabilitar.classList.remove("bloqueado");
                } else {
                    botonHabilitar.classList.add("bloqueado");
                }
            }

            function mostrarMensaje(mensaje) {
                var mensajeDiv = document.createElement("div");
                mensajeDiv.textContent = mensaje;
                mensajeDiv.style.backgroundColor = "#f23c3c";
                mensajeDiv.style.color = "#fff";
                mensajeDiv.style.padding = "10px 15px";
                mensajeDiv.style.borderRadius = "5px";
                mensajeDiv.style.position = "fixed";
                mensajeDiv.style.bottom = "20px";
                mensajeDiv.style.right = "20px";
                mensajeDiv.style.zIndex = "9999";
                document.body.appendChild(mensajeDiv);

                setTimeout(function () {
                    document.body.removeChild(mensajeDiv);
                }, 3000); // Ocultar el mensaje después de 3 segundos

            }



        </script>



</body>



</html>
